`Projeto de análise de dados - Candidatos 2010 até 2022 Goiás`

`Como os dataframes estão separados, então serar feito a união deles ultilizando  o python, como eles possui a mesma quantidade de colunas e são os mesmos nomes isso será possível realizar `

`Unindo os csv de 2010 até 2022 do estado de Goías`

In [110]:
#importando bibliotecas necessárias 
import os
import glob
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [111]:
pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.10/dist-packages (0.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.5.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.10)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2022.7.1)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.5.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (2.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)

In [112]:
#Importando biblioteca para usar sql
import pandasql as ps

In [113]:
# #Caminho dos arquivos
# caminho = os.getcwd()
# print(caminho)
# arquivos_csv = glob.glob(os.path.join(caminho+ "/consulta_cand*.csv")) 
# print(arquivos_csv)

In [114]:
# #codigo para unir o csv 
# df_final = pd.DataFrame()
# for arquivo in arquivos_csv:
#         #print(arquivo)
#         #ler csv
#   df_temp = pd.read_csv(arquivo, sep=';',encoding="ISO-8859-1",on_bad_lines='skip')
#   df_final = pd.concat([df_temp,df_final])
# print("unindo csv")
# df_final.to_csv('/content/candidatos_diretorio/candidatos_goias_2010_2022.csv', sep=';',encoding="utf-8",index=False)

**Iniciando a análise dos dados, após a uniao dos csv - estado do Goiás**

In [115]:
#codigo para abrir todas as colunas do dataframe
pd.set_option('display.max_columns', None)

In [116]:
#carregamento do dataframe
candidatos_goias = pd.read_csv("candidatos_goias_2010_2022.csv", sep=';',encoding="utf-8",on_bad_lines='skip')

<ipython-input-116-6cdf4231cf4b>:2: DtypeWarning: Columns (11,20,57,64,65,66,67,69,70) have mixed types. Specify dtype option on import or set low_memory=False.
  candidatos_goias = pd.read_csv("candidatos_goias_2010_2022.csv", sep=';',encoding="utf-8",on_bad_lines='skip')

In [117]:
#leitura do dataframe
candidatos_goias.head(6)

,DT_GERACAO,HH_GERACAO,ANO_ELEICAO,CD_TIPO_ELEICAO,NM_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,DT_ELEICAO,TP_ABRANGENCIA,SG_UF,SG_UE,NM_UE,CD_CARGO,DS_CARGO,SQ_CANDIDATO,NR_CANDIDATO,NM_CANDIDATO,NM_URNA_CANDIDATO,NM_SOCIAL_CANDIDATO,NR_CPF_CANDIDATO,NM_EMAIL,CD_SITUACAO_CANDIDATURA,DS_SITUACAO_CANDIDATURA,CD_DETALHE_SITUACAO_CAND,DS_DETALHE_SITUACAO_CAND,TP_AGREMIACAO,NR_PARTIDO,SG_PARTIDO,NM_PARTIDO,SQ_COLIGACAO,NM_COLIGACAO,DS_COMPOSICAO_COLIGACAO,CD_NACIONALIDADE,DS_NACIONALIDADE,SG_UF_NASCIMENTO,CD_MUNICIPIO_NASCIMENTO,NM_MUNICIPIO_NASCIMENTO,DT_NASCIMENTO,NR_IDADE_DATA_POSSE,NR_TITULO_ELEITORAL_CANDIDATO,CD_GENERO,DS_GENERO,CD_GRAU_INSTRUCAO,DS_GRAU_INSTRUCAO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_COR_RACA,DS_COR_RACA,CD_OCUPACAO,DS_OCUPACAO,VR_DESPESA_MAX_CAMPANHA,CD_SIT_TOT_TURNO,DS_SIT_TOT_TURNO,ST_REELEICAO,ST_DECLARAR_BENS,NR_PROTOCOLO_CANDIDATURA,NR_PROCESSO,CD_SITUACAO_CANDIDATO_PLEITO,DS_SITUACAO_CANDIDATO_PLEITO,CD_SITUACAO_CANDIDATO_URNA,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA,NR_FEDERACAO,NM_FEDERACAO,SG_FEDERACAO,DS_COMPOSICAO_FEDERACAO,NM_TIPO_DESTINACAO_VOTOS,CD_SITUACAO_CANDIDATO_TOT,DS_SITUACAO_CANDIDATO_TOT,ST_PREST_CONTAS
0,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,93394,DAVINÓPOLIS,13,VEREADOR,90000015638,22000,PAULO CESAR CARNEIRO,PAULO CESAR,#NULO#,25117521153,EXITOADVOCACIA@UOL.COM.BR,12,APTO,2,DEFERIDO,COLIGAÇÃO,22,PR,PARTIDO DA REPÚBLICA,90000001197,LEGISLATIVO LEVADO A SÉRIO,PR / PSDB,1,BRASILEIRA NATA,GO,-3,TRÊS RANCHOS,11/01/1963,53.0,12728071015,2,MASCULINO,7,SUPERIOR INCOMPLETO,9,DIVORCIADO(A),1,BRANCA,237,REPRESENTANTE COMERCIAL,10803.91,3,ELEITO POR MÉDIA,N,N,821882016,2517720166090008,2,DEFERIDO,2,DEFERIDO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,94293,JANDAIA,13,VEREADOR,90000008594,22022,FABIO ALVES BORGES,FABIO CAPACETE,#NULO#,1989808174,TEMPODEMUDAR45@GMAIL.COM,12,APTO,2,DEFERIDO,COLIGAÇÃO,22,PR,PARTIDO DA REPÚBLICA,90000000700,E TEMPO DE MUDAR,PSDB / PP / PR,1,BRASILEIRA NATA,GO,-3,GOIANIA,01/06/1985,31.0,51041361074,2,MASCULINO,6,ENSINO MÉDIO COMPLETO,3,CASADO(A),1,BRANCA,999,OUTROS,10803.91,5,SUPLENTE,N,S,729692016,1328220166090084,2,DEFERIDO,2,DEFERIDO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,93734,GOIÂNIA,13,VEREADOR,90000014547,15190,ROBSON PAIXAO DE AZEVEDO,DR. ROBSON,#NULO#,16721900106,ORTOPEDICO1@GMAIL.COM,12,APTO,2,DEFERIDO,COLIGAÇÃO,15,PMDB,PARTIDO DO MOVIMENTO DEMOCRÁTICO BRASILEIRO,90000001121,EXPERIÊNCIA E CONFIANÇA 1,PMDB / PDT / PRTB,1,BRASILEIRA NATA,GO,-3,GOIANIA,15/04/1960,56.0,1339361023,2,MASCULINO,8,SUPERIOR COMPLETO,3,CASADO(A),1,BRANCA,111,MÉDICO,519651.25,5,SUPLENTE,N,S,808282016,2353920166090133,2,DEFERIDO,2,DEFERIDO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,93793,GOIATUBA,13,VEREADOR,90000021770,45999,WILZELENA MARIA LOPES MARTINS,VILZA LOPES,#NULO#,49117882168,SW_FCASTRO@HOTMAIL.COM,12,APTO,2,DEFERIDO,COLIGAÇÃO,45,PSDB,PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA,90000001649,LEGISLAR PARA O POVO,PSDB / PV / PHS,1,BRASILEIRA NATA,GO,-3,GOIATUBA,28/01/1967,49.0,9822491066,4,FEMININO,6,ENSINO MÉDIO COMPLETO,3,CASADO(A),3,PARDA,581,DONA DE CASA,38077.10,5,SUPLENTE,N,S,896332016,2682320166090038,2,DEFERIDO,2,DEFERIDO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,94315,JARAGUÁ,13,VEREADOR,90000010097,45211,ANA MARIA MARQUES ANDRADE,TIA ANA MARIA,#NULO#,43535658187,ZILOMAR.2016.CANDEX@GMAIL.COM,12,APTO,2,DEFERIDO,COLIGAÇÃO,45,PSDB,PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA,90000000817,ALIANÇA DA VITÓRIA I,PSDB / PP / PDT,1,BRASILEIRA NATA,GO,-3,CERES,26/07/1966,50.0,5861311040,4,FEMININO,5,ENSINO MÉDIO INCOMPLETO,3,CASADO(A),3,PARDA,601,AGRICULTOR,21634.37,5,SUPLENTE,N,N,753252016,1415120166090017,2,DEFERIDO,4,INDEFERIDO COM RECURSO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,18/02/2021,12:07:20,2016,2,ELEIÇÃO ORDINÁRIA,1,220,Eleições Municipais 2016,02/10/2016,MUNICIPAL,GO,93777,GOIÁS,13,VEREADOR,90000023024,77123,ALCIMINIO SIMÕES CORREA JUNIOR,DR ALCIMINIO,#NULO#,12372676172,UNIDOSPORGOIAS@GMAIL.COM,12,APTO,2,DEFERIDO,COLIGAÇÃO,77,SD,SOLIDARIEDADE,90000001734,"ÉTICA, COMPROMISSO E TRABALHO",DEM / PSDC / PRP / SD,1,BRASILEIRA NATA,MG,-3,BAMBUÍ,13/12/1956,60.0,4790621066,2,MASCULINO,8,SUPERIOR COMPLETO,3,CASADO(A),1,BRANCA,131,ADVOGADO,22147.45,5,SUPLENTE,N,S,911462016,1425120166090012,2,DEFERIDO,2,DEFERIDO,SIM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

`Analisando o dicionário dos dados, foi escolhido as colunas que melhor se aplicava para fazer a analise dos dados. Está colunas foram:`


```
# ANO_ELEICAO
# CD_TIPO_ELEICAO
# NR_TURNO
# CD_ELEICAO
# DS_ELEICAO
# TP_ABRANGENCIA
# SG_UF
# SG_UE
# NM_UE
# NM_CANDIDATO
# NM_URNA_CANDIDATO 
# CD_SITUACAO_CANDIDATURA
# DS_SITUACAO_CANDIDATURA
# SG_PARTIDO
# NM_PARTIDO
# DS_NACIONALIDADE
# DT_NASCIMENTO
# NR_IDADE_DATA_POSSE
# DS_GENERO
# DS_GRAU_INSTRUCAO
# DS_ESTADO_CIVIL
# DS_COR_RACA
# DS_OCUPACAO
# VR_DESPESA_MAX_CAMPANHA
# DS_SIT_TOT_TURNO
# ST_REELEICAO 
# DS_SITUACAO_CANDIDATO_URNA
# ST_CANDIDATO_INSERIDO_URNA
```

**Adicionando aos dados a ideologia dos partidos**

In [118]:
candidatos_goias['SG_PARTIDO'].value_counts()

PSDB             5615
DEM              4774
PMDB             4589
PP               4534
PSD              3884
PDT              3653
PT               3248
PSB              3013
PTB              3007
PSC              2490
PSL              2428
PR               2045
MDB              1942
PROS             1701
PTC              1687
PRTB             1670
PODE             1486
PC do B          1366
PHS              1309
PPS              1299
PRB              1244
CIDADANIA        1207
PV               1147
PTN              1067
REPUBLICANOS     1061
PL               1043
PMN               994
PATRIOTA          977
SOLIDARIEDADE     954
PSDC              945
PRP               805
SD                667
PSOL              652
PT do B           607
AVANTE            499
DC                437
PPL               323
PMB               317
REDE              286
PCB                71
AGIR               63
UNIÃO              47
NOVO               45
PCO                16
PSTU               11
UP                  9
Name: SG_PARTIDO, dtype: int64

In [119]:
# def buscar_ideologia_partido(coluna):
#     SG_PARTIDO = {'PMDB':       'CENTRO',
#                   'PSDB':       'CENTRO',
#                   'PT':        'ESQUERDA',
#                   'PFL':        'CENTRO',
#                   'PP':         'DIREITA',
#                   'PL':         'DIREITA',
#                   'PPS':        'CENTRO',
#                   'PTB':       'DIREITA',
#                   'PDT':        'ESQUERDA',
#                   'PSB':        'ESQUERDA',
#                   'PPB':        'CENTRO',
#                   'PR':        'CENTRO',
#                   'PSC':         'DIREITA',
#                   'PSDC':        'ESQUERDA',
#                   'PSD':         'DIREITA',
#                   'DEM':         'DIREITA',
#                   'PTN':         'ESQUERDA',
#                   'PT do B':     'CENTRO',
#                   'PSL':         'DIREITA',
#                   'PHS':         'CENTRO',
#                   'PST':         'ESQUERDA',
#                   'PTC':         'DIREITA',
#                   'PMN':         'ESQUERDA',
#                   'PRP':         'ESQUERDA',
#                   'PV':          'ESQUERDA',
#                   'PRTB':        'DIREITA',
#                   'PC do B':     'ESQUERDA',
#                   'PRB':         'DIREITA',
#                   'PSOL':        'ESQUERDA',
#                   'PAN':         'DIREITA',
#                   'PGT':         'CENTRO',
#                   'PSTU':         'ESQUERDA',
#                   'PRONA':        'CENTRO',
#                   'PPR':          'DIREITA',
#                   'PCB':         'ESQUERDA',
#                   'PT DO B':      'CENTRO',
#                   'PCO':         'ESQUERDA',
#                   'PRN':         'DIREITA',
#                   'PC do B':      'ESQUERDA',
#                   'SD':          'ESQUERDA',
#                   'PROS':         'ESQUERDA',
#                   'PATRIOTA':     'ESQUERDA',
#                   'PPL':          'CENTRO',
#                   'REDE':         'ESQUERDA',
#                   'MDB':          'ESQUERDA',
#                   'SOLIDARIEDADE': 'ESQUERDA',
#                   'PODE':          'ESQUERDA',
#                   'PMB':          'ESQUERDA'}            
               
#     return SG_PARTIDO[coluna]

In [120]:
# #Codigo para adicionar o espectro dos partidos ao dataframe
# lista = []
# for index, linha in candidatos_goias.iterrows():
#       valor = linha.SG_PARTIDO
#       espectro = buscar_ideologia_partido(f'{valor}')
#       lista.append(espectro)
# candidatos_goias['ESPECTRO_PARTIDOS']= lista

In [121]:
#filtrando as colunas necessárias 
candidatos_goias = candidatos_goias[['ANO_ELEICAO','CD_TIPO_ELEICAO','NR_TURNO','CD_ELEICAO','DS_ELEICAO','TP_ABRANGENCIA','SG_UF', 'SG_UE','NM_UE','NM_CANDIDATO','NM_URNA_CANDIDATO','CD_SITUACAO_CANDIDATURA','DS_SITUACAO_CANDIDATURA','SG_PARTIDO','NM_PARTIDO','DS_NACIONALIDADE','DT_NASCIMENTO','NR_IDADE_DATA_POSSE','DS_GENERO','DS_GRAU_INSTRUCAO','DS_ESTADO_CIVIL','DS_COR_RACA','VR_DESPESA_MAX_CAMPANHA','DS_SIT_TOT_TURNO','ST_REELEICAO','DS_SITUACAO_CANDIDATO_URNA','ST_CANDIDATO_INSERIDO_URNA']]

In [122]:
candidatos_goias.head(4)

,ANO_ELEICAO,CD_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,DS_ELEICAO,TP_ABRANGENCIA,SG_UF,SG_UE,NM_UE,NM_CANDIDATO,NM_URNA_CANDIDATO,CD_SITUACAO_CANDIDATURA,DS_SITUACAO_CANDIDATURA,SG_PARTIDO,NM_PARTIDO,DS_NACIONALIDADE,DT_NASCIMENTO,NR_IDADE_DATA_POSSE,DS_GENERO,DS_GRAU_INSTRUCAO,DS_ESTADO_CIVIL,DS_COR_RACA,VR_DESPESA_MAX_CAMPANHA,DS_SIT_TOT_TURNO,ST_REELEICAO,DS_SITUACAO_CANDIDATO_URNA,ST_CANDIDATO_INSERIDO_URNA
0,2016,2,1,220,Eleições Municipais 2016,MUNICIPAL,GO,93394,DAVINÓPOLIS,PAULO CESAR CARNEIRO,PAULO CESAR,12,APTO,PR,PARTIDO DA REPÚBLICA,BRASILEIRA NATA,11/01/1963,53.0,MASCULINO,SUPERIOR INCOMPLETO,DIVORCIADO(A),BRANCA,10803.91,ELEITO POR MÉDIA,N,DEFERIDO,SIM
1,2016,2,1,220,Eleições Municipais 2016,MUNICIPAL,GO,94293,JANDAIA,FABIO ALVES BORGES,FABIO CAPACETE,12,APTO,PR,PARTIDO DA REPÚBLICA,BRASILEIRA NATA,01/06/1985,31.0,MASCULINO,ENSINO MÉDIO COMPLETO,CASADO(A),BRANCA,10803.91,SUPLENTE,N,DEFERIDO,SIM
2,2016,2,1,220,Eleições Municipais 2016,MUNICIPAL,GO,93734,GOIÂNIA,ROBSON PAIXAO DE AZEVEDO,DR. ROBSON,12,APTO,PMDB,PARTIDO DO MOVIMENTO DEMOCRÁTICO BRASILEIRO,BRASILEIRA NATA,15/04/1960,56.0,MASCULINO,SUPERIOR COMPLETO,CASADO(A),BRANCA,519651.25,SUPLENTE,N,DEFERIDO,SIM
3,2016,2,1,220,Eleições Municipais 2016,MUNICIPAL,GO,93793,GOIATUBA,WILZELENA MARIA LOPES MARTINS,VILZA LOPES,12,APTO,PSDB,PARTIDO DA SOCIAL DEMOCRACIA BRASILEIRA,BRASILEIRA NATA,28/01/1967,49.0,FEMININO,ENSINO MÉDIO COMPLETO,CASADO(A),PARDA,38077.10,SUPLENTE,N,DEFERIDO,SIM

In [123]:
candidatos_goias['ANO_ELEICAO'].unique()

array([2016, 2018, 2020, 2010, 2012, 2014, 2022])

`Fazendo a descrição dos dados`

In [124]:
candidatos_goias.describe()

,ANO_ELEICAO,CD_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,CD_SITUACAO_CANDIDATURA,NR_IDADE_DATA_POSSE,VR_DESPESA_MAX_CAMPANHA
count,71234.000000,71234.000000,71234.000000,71234.000000,71234.000000,71145.000000,7.123400e+04
mean,2016.279501,1.998610,1.000337,245.839922,11.317713,44.481144,2.466352e+05
std,3.367460,0.037254,0.018352,159.052521,2.386401,17.818667,9.241506e+05
min,2010.000000,1.000000,1.000000,37.000000,1.000000,-940.000000,-4.000000e+00
25%,2012.000000,2.000000,1.000000,47.000000,12.000000,36.000000,1.230775e+04
50%,2016.000000,2.000000,1.000000,220.000000,12.000000,44.000000,3.563052e+04
75%,2020.000000,2.000000,1.000000,426.000000,12.000000,52.000000,1.205451e+05
max,2022.000000,2.000000,2.000000,546.000000,12.000000,999.000000,5.000000e+07

Como foi visto, os dados de gastos possuí valores negativos: 2 alternativas para tratar o dado, remover as linhas com valores negativos, porem perderia informações relevantes, ou preencher com a media, mas é preciso do valor exato pra fazer alguns calculos.  Se o valor foi registrado errado, talvez multiplicando por - 1 resolva, mas não se sabe se é valor negativado, ou houve um erro ao cadastrar, seria necessário uma investigação maior. Para essa análise irei multiplicar os valores negativos por -1  ultilizando o python

**Removendo valores negativos de gastos de campanhas**

**Como eu nao tenho memoria para remover os dados usando o labda, irei deixa-los**

In [125]:
import numpy as np

In [126]:
#candidatos_goias['VR_DESPESA_MAX_CAMPANHA'].apply(lambda x: abs(candidatos_goias['VR_DESPESA_MAX_CAMPANHA']))

In [127]:
candidatos_goias.describe()

,ANO_ELEICAO,CD_TIPO_ELEICAO,NR_TURNO,CD_ELEICAO,CD_SITUACAO_CANDIDATURA,NR_IDADE_DATA_POSSE,VR_DESPESA_MAX_CAMPANHA
count,71234.000000,71234.000000,71234.000000,71234.000000,71234.000000,71145.000000,7.123400e+04
mean,2016.279501,1.998610,1.000337,245.839922,11.317713,44.481144,2.466352e+05
std,3.367460,0.037254,0.018352,159.052521,2.386401,17.818667,9.241506e+05
min,2010.000000,1.000000,1.000000,37.000000,1.000000,-940.000000,-4.000000e+00
25%,2012.000000,2.000000,1.000000,47.000000,12.000000,36.000000,1.230775e+04
50%,2016.000000,2.000000,1.000000,220.000000,12.000000,44.000000,3.563052e+04
75%,2020.000000,2.000000,1.000000,426.000000,12.000000,52.000000,1.205451e+05
max,2022.000000,2.000000,2.000000,546.000000,12.000000,999.000000,5.000000e+07

**Verificando dados vazios nos dados**

In [128]:
candidatos_goias.isnull().sum()

ANO_ELEICAO                    0
CD_TIPO_ELEICAO                0
NR_TURNO                       0
CD_ELEICAO                     0
DS_ELEICAO                     0
TP_ABRANGENCIA                 0
SG_UF                          0
SG_UE                          0
NM_UE                          0
NM_CANDIDATO                   0
NM_URNA_CANDIDATO              0
CD_SITUACAO_CANDIDATURA        0
DS_SITUACAO_CANDIDATURA        0
SG_PARTIDO                     0
NM_PARTIDO                     0
DS_NACIONALIDADE               0
DT_NASCIMENTO                 89
NR_IDADE_DATA_POSSE           89
DS_GENERO                      0
DS_GRAU_INSTRUCAO              0
DS_ESTADO_CIVIL                0
DS_COR_RACA                    0
VR_DESPESA_MAX_CAMPANHA        0
DS_SIT_TOT_TURNO               0
ST_REELEICAO                   0
DS_SITUACAO_CANDIDATO_URNA     0
ST_CANDIDATO_INSERIDO_URNA     0
dtype: int64

`Como apenas a coluna NM_URNA_CANDIDATO tem valor nulo e é apenas 1, então essa linha poderá ser excluída, caso fosse mais linhas nulos, teria que tomar outra decisão para tratar o valor nulo`

In [129]:
candidatos_goias.dropna(inplace =True)
candidatos_goias.isnull().sum()

ANO_ELEICAO                   0
CD_TIPO_ELEICAO               0
NR_TURNO                      0
CD_ELEICAO                    0
DS_ELEICAO                    0
TP_ABRANGENCIA                0
SG_UF                         0
SG_UE                         0
NM_UE                         0
NM_CANDIDATO                  0
NM_URNA_CANDIDATO             0
CD_SITUACAO_CANDIDATURA       0
DS_SITUACAO_CANDIDATURA       0
SG_PARTIDO                    0
NM_PARTIDO                    0
DS_NACIONALIDADE              0
DT_NASCIMENTO                 0
NR_IDADE_DATA_POSSE           0
DS_GENERO                     0
DS_GRAU_INSTRUCAO             0
DS_ESTADO_CIVIL               0
DS_COR_RACA                   0
VR_DESPESA_MAX_CAMPANHA       0
DS_SIT_TOT_TURNO              0
ST_REELEICAO                  0
DS_SITUACAO_CANDIDATO_URNA    0
ST_CANDIDATO_INSERIDO_URNA    0
dtype: int64

`Após os dados nulos serem removidos será iniciado a análise dos dados os candidatos de  1994  até 2008`

O que está análise vai tratar 
*   Quantas candidatos inscritos
*   Quantos candidatos por raça 
*   Quantos candidatos por escolaridade
*   Faixa etária dos candidatos por raça e sexo
*   Porcentagem de candidatos escrito por raça, escolaridade, sexo
*   Quantidade de partidos
*   Quantidade de partido por sexo e raça
*   Quantidade de escrito por estado civil
*   Estado civil dos candidatos por genero
*   Qual partido teve mais inscritos por raça e genero
*   Qual partido mais elegeu
*   Os candidatos mais eleitos usaram nome de algum candidatos que estava em alta na epóca 
*   O gasto com campanhas influência ao vencer eleição

*Após uma análise mais profunda dos dados, notei que existe variação de eleitos. </br>Eleitos por média e Eleitos por PQ. 
irei padronizar todos para Eleitos. </br>Para facilitar a análise dos dados*

`Padronização dos eleitos`

In [130]:
candidatos_goias.DS_SIT_TOT_TURNO[candidatos_goias.DS_SIT_TOT_TURNO == 'ELEITO POR QP'] = 'ELEITO'
candidatos_goias.DS_SIT_TOT_TURNO[candidatos_goias.DS_SIT_TOT_TURNO == 'ELEITO POR MÉDIA'] = 'ELEITO'

<ipython-input-130-72f0b0478278>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  candidatos_goias.DS_SIT_TOT_TURNO[candidatos_goias.DS_SIT_TOT_TURNO == 'ELEITO POR QP'] = 'ELEITO'
<ipython-input-130-72f0b0478278>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  candidatos_goias.DS_SIT_TOT_TURNO[candidatos_goias.DS_SIT_TOT_TURNO == 'ELEITO POR MÉDIA'] = 'ELEITO'

**Quantos candidatos inscritos?**

In [131]:
candidatos_goias['ANO_ELEICAO'].count()

71145

`As candidaturas de 1994 até 2010 soma 50655 cinquenta mil seiscentos e cinquenta e cinco inscritos.`

**Quantidade de inscritos por raça**

In [132]:
candidatos_goias["DS_COR_RACA"].value_counts()

PARDA            24694
#NE#             21404
BRANCA           20088
PRETA             4327
AMARELA            412
NÃO INFORMADO      177
INDÍGENA            43
Name: DS_COR_RACA, dtype: int64

**Gráfico de quantidade de inscritos por raça**

In [133]:
fig = plt.figure(figsize=(10,5))
grafico = sns.countplot('DS_COR_RACA', order = candidatos_goias['DS_COR_RACA'].value_counts().index, palette="Paired",  data = candidatos_goias)
plt.xticks(rotation=90)
for i in grafico.patches:
   grafico.annotate(i.get_height(),
                  (i.get_x() + i.get_width() / 2, i.get_height()),
                  ha='center',
                  va='baseline',
                  fontsize=12,
                  color='black',
                  xytext=(0, 1),
                  textcoords='offset points');  
plt.xlabel('Raça', fontsize=15)
plt.ylabel(' ')
plt.title('Grafico quantidade de candidatos por raça',fontsize=15);

TypeError: ignored

`De acordo com o dicionario dos dados NE são quando os valores não são registrados no banco de dados`

**Porcentagem de inscritos por raça**

In [ ]:
porcenagem_raca = (candidatos_goias["DS_COR_RACA"].value_counts() / candidatos_goias["ANO_ELEICAO"].count()) * 100
porcenagem_raca

**Quantidade de inscritos por escolaridade**

In [ ]:
candidatos_goias['DS_GRAU_INSTRUCAO'].value_counts()

**Porcentagem de inscritos por escolaridade**

In [ ]:
porc_escolaridade  = candidatos_goias['DS_GRAU_INSTRUCAO'].value_counts() / 71145 * 100 
porc_escolaridade

**Gráfico de inscritos por escolaridade**

In [ ]:
fig = plt.figure(figsize=(10,5))
grafico = sns.countplot('DS_GRAU_INSTRUCAO', order = candidatos_goias['DS_GRAU_INSTRUCAO'].value_counts().index, palette="Paired",  data =  candidatos_goias)
plt.xticks(rotation=90)
for i in grafico.patches:
   grafico.annotate(i.get_height(),
                  (i.get_x() + i.get_width() / 2, i.get_height()),
                  ha='center',
                  va='baseline',
                  fontsize=12,
                  color='black',
                  xytext=(0, 1),
                  textcoords='offset points');  
plt.xlabel('Escolaridade', fontsize=15)
plt.ylabel(' ')
plt.title('Grafico quantidade por  escolaridade',fontsize=15);

**Faixa etaria dos inscritos**

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].unique()

**Como foi observado, existe idade com numeros negativos e bem maiores que 100. Então será substituido por zero**

In [ ]:
candidatos_goias.loc[((candidatos_goias.NR_IDADE_DATA_POSSE <= 0 )| (candidatos_goias.NR_IDADE_DATA_POSSE > 100))] = 0

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].unique()

`Valores substituídos por zero. Já que são poucos valores e o zero não seria um valor interresante pra contabilizar, será excluido as linhas que a idade possuí zero `

In [ ]:
idade_colunas = candidatos_goias[candidatos_goias['NR_IDADE_DATA_POSSE'] == 0 ].index
candidatos_goias.drop(idade_colunas, inplace=True)

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].unique()

**Idade com valores 0 removidas**

**Excluir idade menores que 18**

In [ ]:
idade_colunas = candidatos_goias[candidatos_goias['NR_IDADE_DATA_POSSE'] < 18 ].index
candidatos_goias.drop(idade_colunas, inplace=True)

**idade menores que 18  excluídas**

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].unique()

**Total de inscritos por faixa etária**

In [ ]:
#Utilizando sql para cantabilizar quantidade de inscritos maiores ou iguais a 18
query = """SELECT COUNT(NR_IDADE_DATA_POSSE) as total_inscritos_idade
           FROM candidatos_goias
           where NR_IDADE_DATA_POSSE >= 18"""
ps.sqldf(query.lower(), locals())

**`Quantidade de inscritos por faixa etária**

In [ ]:
#Utilizando sql para cantabilizar a idade 
query = """SELECT NR_IDADE_DATA_POSSE, COUNT(NR_IDADE_DATA_POSSE) as total_inscritos_idade
           FROM candidatos_goias
           where NR_IDADE_DATA_POSSE >= 18
           GROUP BY NR_IDADE_DATA_POSSE
           ORDER BY COUNT(NR_IDADE_DATA_POSSE) DESC"""
ps.sqldf(query.lower(), locals())

**Quantidade de inscritos por faixa etaria e genero.</br> faixa etária das mulheres X homens que se candidatam**

In [ ]:
cadidato_feminino_idade = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]

In [ ]:
candidato_masculino_idade = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]

**Faixa etária das mulheres que mais se candidatam**

In [ ]:
#Utilizando sql para contabilizar eleitos masculino por idade
query = """SELECT  NR_IDADE_DATA_POSSE,COUNT(NR_IDADE_DATA_POSSE) as total_idade
           FROM cadidato_feminino_idade
           GROUP BY NR_IDADE_DATA_POSSE
           ORDER BY COUNT(NR_IDADE_DATA_POSSE) DESC
           limit 10
           """
ps.sqldf(query.lower(), locals())

**Faixa etária dos homens que mais se candidatam**

In [ ]:
#Utilizando sql para contabilizar eleitos masculino por idade
query = """SELECT NR_IDADE_DATA_POSSE,COUNT(NR_IDADE_DATA_POSSE) as total_idade
           FROM candidato_masculino_idade 
           GROUP BY NR_IDADE_DATA_POSSE
           ORDER BY COUNT(NR_IDADE_DATA_POSSE) DESC
           limit 10
           """
ps.sqldf(query.lower(), locals())

**Porcentagem de inscritos pela idade**

In [ ]:
porc_inscritos_idade  = candidatos_goias['NR_IDADE_DATA_POSSE'].value_counts() / 71129 * 100 
porc_inscritos_idade

`Idade minima e maxima que participaram das eleições`

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].max()

In [ ]:
candidatos_goias['NR_IDADE_DATA_POSSE'].min()

**Vamos comparar a porcentagem de candidatos por idade. idade entre 18 até 30 e de 31 até 50**

In [ ]:
#Utilizando sql para cantabilizar a idade de 18 até 30 
query = """SELECT COUNT(NR_IDADE_DATA_POSSE) as total_inscritos_idade
           FROM candidatos_goias
           where NR_IDADE_DATA_POSSE >= 18 and NR_IDADE_DATA_POSSE <=30
           """
ps.sqldf(query.lower(), locals())

In [ ]:
#Porcentagem 
porc_idade = (8229/71129) * 100
print('A porcentagem por idade entre 18 até 30 é: {:.2f}'.format(porc_idade))

In [ ]:
#Utilizando sql para cantabilizar a idade de 18 até 30 
query = """SELECT COUNT(NR_IDADE_DATA_POSSE) as total_inscritos_idade
           FROM candidatos_goias
           where NR_IDADE_DATA_POSSE >= 31 and NR_IDADE_DATA_POSSE <=50
           """
ps.sqldf(query.lower(), locals())

In [ ]:
#Porcentagem 
porc_idade = (41991/71129) * 100
print('A porcentagem por idade entre 31 até 50 é: {:.2f}'.format(porc_idade))

**Analisando a quantidade de mulheres X homens candidatos**

In [ ]:
candidatos_goias['DS_GENERO'].unique()

In [ ]:
#Utilizando sql para cantabilizar por genero/candidatos
query = """SELECT DS_GENERO,COUNT(DS_GENERO) as total_inscritos_genero
           FROM candidatos_goias
           GROUP BY DS_GENERO
           ORDER BY COUNT(DS_GENERO) DESC"""
ps.sqldf(query.lower(), locals())

**Gráfico candidatos Mulheres X homens**

In [ ]:
fig = plt.figure(figsize=(10,5))
grafico = sns.countplot('DS_GENERO', order = candidatos_goias['DS_GENERO'].value_counts().index, palette="Paired",  data =  candidatos_goias)
plt.xticks(rotation=90)
for i in grafico.patches:
   grafico.annotate(i.get_height(),
                  (i.get_x() + i.get_width() / 2, i.get_height()),
                  ha='center',
                  va='baseline',
                  fontsize=12,
                  color='black',
                  xytext=(0, 1),
                  textcoords='offset points');  
plt.xlabel('Genero', fontsize=15)
plt.ylabel(' ')
plt.title('Grafico quantidade por Genero',fontsize=15);

**Porcentagem de inscritos por genero**

In [ ]:
#Total inscritos por genero
candidatos_goias['DS_GENERO'].count()

In [ ]:
#Quantidade de inscritos por genero
candidatos_goias['DS_GENERO'].value_counts()

In [ ]:
#Porcentagem de inscritos por genero
porc_inscritos_genero = candidatos_goias['DS_GENERO'].value_counts() / 71129 * 100 
porc_inscritos_genero

**As porcentagens de inscritos por genero dos  dados representada em um grafico de  pizza de 100%**

In [ ]:
labels = ['FEMININO','MASCULINO']
media = [32.3,67.6]
colores = ((1.0, 0.0, .40), (0.0, .40, 1.0), (.40, 1.0, .20))
fig, ax = plt.subplots(figsize=(12, 5))

ax.pie(media, labels=labels,autopct = '%.1f%%',colors = colores)
ax.set_title('Media de inscritos por genero Mulher X Homen', fontsize=16)
plt.show()

**Qual tipo de eleições mulheres x homens mais se inscreveram**

`Eleições que as mulheres mais se candidata`

In [ ]:
abragencia_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
abragencia_feminino['TP_ABRANGENCIA'].value_counts()

`Eleições que os homens mais se candidata`

In [ ]:
abragencia_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]
abragencia_masculino['TP_ABRANGENCIA'].value_counts()

**Qual tipo de eleições as mulheres x homens mais são eleitos**

`Tipo de eleições que as mulheres mais ganham`

In [ ]:
abragencia_feminino_eleita = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
abragencia_feminino_eleita = abragencia_feminino_eleita[abragencia_feminino_eleita['DS_SIT_TOT_TURNO'] == "ELEITO"]
abragencia_feminino_eleita['TP_ABRANGENCIA'].value_counts()

`Tipo de eleições que os homens mais ganham `

In [ ]:
abragencia_masculino_eleita = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]
abragencia_masculino_eleita = abragencia_masculino_eleita[abragencia_masculino_eleita['DS_SIT_TOT_TURNO'] == "ELEITO"]
abragencia_masculino_eleita['TP_ABRANGENCIA'].value_counts()

**Qual partido mais tem mulhere X homens candidata**

`partidos que mais tem mulheres candidatas `

In [ ]:
partido_feminino_candidata = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
partido_feminino_candidata['SG_PARTIDO'].value_counts()

`Partidos que mais tem homens candidatos`

In [ ]:
partido_masculino_candidata = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]
partido_masculino_candidata['SG_PARTIDO'].value_counts()

`Já que foi contabilizado a quantidade de inscritos por genero e a porcentagem. Comparar quantidade que vence a eleição por genero `

**Quantidade de mulheres X homens que ganharam as eleições**

In [ ]:
eleito = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_feminino = eleito[eleito['DS_GENERO'] == "FEMININO"]
quantidade = eleito_feminino['DS_GENERO'].count()
print('Quantidade de mulheres que ganharam as eleiçoes : {:.0f}'.format(quantidade))

In [ ]:
eleito = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_masculino = eleito[eleito['DS_GENERO'] == "MASCULINO"]
quantidade = eleito_masculino['DS_GENERO'].count()
print('Quantidade de homens que ganharam as eleiçoes : {:.0f}'.format(quantidade))

**Porcentagem de mulheres X homens que ganharam as eleições pelo total de inscritos geral**

In [ ]:
porcentagem_f =  (190/71129) * 100
print('Porcentagem de mulheres que ganharam as eleiçoes : {:.2f}'.format(porcentagem_f))

In [ ]:
porcentagem_m =  (1378/71129) * 100
print('Porcentagem de homens que ganharam as eleiçoes : {:.2f}'.format(porcentagem_m))

**Porcentagem de eleitos mulheres x homens Pela quantidade de inscritos de cada genero**</br>
`Total de mulheres e homens inscritos pelo total que foram eleitos`

In [ ]:
porcentagem_f_inscritas =  (190/48128) * 100
print('Porcentagem de mulheres que ganharam as eleiçoes : {:.2f}'.format(porcentagem_f_inscritas))

In [ ]:
porcentagem_m_inscritas =  (1378/23001) * 100
print('Porcentagem de mulheres que ganharam as eleiçoes : {:.2f}'.format(porcentagem_m_inscritas))

**As porcentagens dos dados dos eleitos por genero pela quantidade de inscritos </br> por genero representada em um grafico de  pizza de 100%**

In [ ]:
labels = ['FEMININO','MASCULINO']
media = [0.39, 5.99]
colores = ((1.0, 0.0, .40), (0.0, .40, 1.0), (.40, 1.0, .20))
fig, ax = plt.subplots(figsize=(12, 5))

ax.pie(media, labels=labels,autopct = '%.1f%%',colors = colores)
ax.set_title('Media de eleitos por genero Mulher X Homen', fontsize=16)
plt.show()

**Faixa etaria das mulheres  e dos homens que ganharam eleições**

In [ ]:
eleito = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_feminino = eleito[eleito['DS_GENERO'] == "FEMININO"]

In [ ]:
eleito = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_masculino = eleito[eleito['DS_GENERO'] == "MASCULINO"]

**TOP 10 mulheres que mais foram eleitas pela faixa etária**

In [ ]:
#Utilizando sql para contabilizar eleitos masculino por idade
query = """SELECT NR_IDADE_DATA_POSSE, COUNT(NR_IDADE_DATA_POSSE) as total_idade
           FROM eleito_feminino
           GROUP BY NR_IDADE_DATA_POSSE
           ORDER BY COUNT(NR_IDADE_DATA_POSSE) DESC
           limit 10
           """
ps.sqldf(query.lower(), locals())

**TOP 10 homens que mais foram eleitos pela faixa etária**

In [ ]:
#Utilizando sql para contabilizar eleitos masculino por idade
query = """SELECT NR_IDADE_DATA_POSSE, COUNT(NR_IDADE_DATA_POSSE) as total_idade 
           FROM eleito_masculino
           GROUP BY NR_IDADE_DATA_POSSE
           ORDER BY COUNT(NR_IDADE_DATA_POSSE) DESC
           limit 10"""
ps.sqldf(query.lower(), locals())

**Qual partido mais elegeu**

`Qual partido mais elegeu `

In [ ]:
eleito_partido = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]

In [ ]:
#Utilizando sql para o partido que mais elegeu
query = """SELECT SG_PARTIDO, COUNT(SG_PARTIDO) as eleitos
           FROM eleito_partido
           GROUP BY SG_PARTIDO
           ORDER BY COUNT(SG_PARTIDO) DESC
           """
ps.sqldf(query.lower(), locals())

**Qual partido mais elegeu mulheres X homens**

In [ ]:
eleito_partido = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_feminino_partido = eleito_partido[eleito_partido['DS_GENERO'] == "FEMININO"]

In [ ]:
eleito_partido = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_masculino_partido = eleito_partido[eleito_partido['DS_GENERO'] == "MASCULINO"]

`Partido que mais elegeu mulheres`

In [ ]:
#Utilizando sql para contabilizar eleitos feminino por partido
query = """SELECT SG_PARTIDO, COUNT(SG_PARTIDO) as eleitos
           FROM eleito_feminino_partido
           GROUP BY SG_PARTIDO
           ORDER BY COUNT(SG_PARTIDO) DESC
           """
ps.sqldf(query.lower(), locals())

`Partido que mais elegeu homens`

In [ ]:
#Utilizando sql para contabilizar eleitos masculino por partido
query = """SELECT SG_PARTIDO, COUNT(SG_PARTIDO) as eleitos
           FROM eleito_masculino_partido
           GROUP BY SG_PARTIDO
           ORDER BY COUNT(SG_PARTIDO) DESC
           """
ps.sqldf(query.lower(), locals())

**Gráfico do nivel de escolaridade de quem mais ganha eleições**

In [ ]:
eleito_escolaridade = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]

In [ ]:
fig = plt.figure(figsize=(10,5))
grafico = sns.countplot('DS_GRAU_INSTRUCAO', order = eleito_escolaridade['DS_GRAU_INSTRUCAO'].value_counts().index, palette="Paired",  data =  eleito_escolaridade)
plt.xticks(rotation=90)
for i in grafico.patches:
   grafico.annotate(i.get_height(),
                  (i.get_x() + i.get_width() / 2, i.get_height()),
                  ha='center',
                  va='baseline',
                  fontsize=12,
                  color='black',
                  xytext=(0, 1),
                  textcoords='offset points');  
plt.xlabel('Escolaridade', fontsize=15)
plt.ylabel(' ')
plt.title('Grafico quantidade por  escolaridade',fontsize=15);

**Porcentagem da escolaridade de quem mais ganha eleições**

In [ ]:
porc_escolaridade = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
porc_escolaridade['DS_GRAU_INSTRUCAO'].value_counts()/ porc_escolaridade['DS_GRAU_INSTRUCAO'].count()*100

**Crescimento de candidatos inscritos nas eleições**

In [ ]:
candidatos_goias.groupby("ANO_ELEICAO",sort=True)["ANO_ELEICAO"].count()

**Crescimento de mulheres x homens candidatos a eleições**

`Quantidade de mulheres canditadas nas eleições no decorrer dos anos`

In [ ]:
candidatos_eleicao_crescimento_genero_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
candidatos_eleicao_crescimento_genero_feminino = candidatos_eleicao_crescimento_genero_feminino.groupby(["DS_GENERO", "ANO_ELEICAO"], as_index=False)["DS_GENERO"].count()
candidatos_eleicao_crescimento_genero_feminino = candidatos_eleicao_crescimento_genero_feminino.sort_values(by='DS_GENERO', ascending=False)
candidatos_eleicao_crescimento_genero_feminino = candidatos_eleicao_crescimento_genero_feminino.rename(columns={'DS_GENERO': 'FEMININO'})
candidatos_eleicao_crescimento_genero_feminino

`Quantidade de homens canditados nas eleições no decorrer dos anos`

In [ ]:
candidatos_eleicao_crescimento_genero_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]
candidatos_eleicao_crescimento_genero_masculino = candidatos_eleicao_crescimento_genero_masculino.groupby(["DS_GENERO", "ANO_ELEICAO"], as_index=False)["DS_GENERO"].count()
candidatos_eleicao_crescimento_genero_masculino = candidatos_eleicao_crescimento_genero_masculino.sort_values(by='DS_GENERO', ascending=False)
candidatos_eleicao_crescimento_genero_masculino = candidatos_eleicao_crescimento_genero_masculino.rename(columns={'DS_GENERO': 'MASCULINO'})
candidatos_eleicao_crescimento_genero_masculino

**Qual ano as mulheres X homens mais ganharam eleições**

`Quantidade de mulheres eleitas no decorrer dos anos`

In [ ]:
eleito_partido = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_feminino_partido = eleito_partido[eleito_partido['DS_GENERO'] == "FEMININO"]

In [ ]:
#Utilizando sql para contabilizar qual ano de eleições as mulheres mais ganharam
query = """SELECT DS_GENERO,ANO_ELEICAO, COUNT(ANO_ELEICAO) as eleitos
           FROM eleito_feminino_partido
           GROUP BY ANO_ELEICAO
           ORDER BY COUNT(ANO_ELEICAO) DESC
           """
ps.sqldf(query.lower(), locals())

`Quantidade de homens eleitos no decorrer dos anos`

In [ ]:
eleito_partido = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
eleito_masculino_partido = eleito_partido[eleito_partido['DS_GENERO'] == "MASCULINO"]

In [ ]:
#Utilizando sql para contabilizar qual ano de eleições as mulheres mais ganharam
query = """SELECT DS_GENERO,ANO_ELEICAO, COUNT(ANO_ELEICAO) as eleitos
           FROM eleito_masculino_partido
           GROUP BY ANO_ELEICAO
           ORDER BY COUNT(ANO_ELEICAO) DESC
           """
ps.sqldf(query.lower(), locals())

**Qual partido mais gastou com candidaturas**

In [ ]:
#Utilizando sql para contabilizar qual partidos mais gasta com campanhas
query = """SELECT SG_PARTIDO as sigla_partido,SUM(VR_DESPESA_MAX_CAMPANHA) total_gastos_eleicao
           FROM candidatos_goias
           GROUP BY SG_PARTIDO
           ORDER BY SUM(VR_DESPESA_MAX_CAMPANHA) DESC
           """
ps.sqldf(query.lower(), locals())

**Total gasto em campanhas por ano**

In [ ]:
#Utilizando sql para contabilizar qual partidos mais gasta com campanhas
query = """SELECT ANO_ELEICAO,SUM(VR_DESPESA_MAX_CAMPANHA) total_gastos_eleicao
           FROM candidatos_goias
           GROUP BY ANO_ELEICAO
           ORDER BY SUM(VR_DESPESA_MAX_CAMPANHA) DESC
           """
ps.sqldf(query.lower(), locals())

**Gráfico de linha de gastos em campanhas por ano**

In [ ]:
plt.figure(figsize=(13,5))
sns.lineplot(x=candidatos_goias['ANO_ELEICAO'],y=candidatos_goias['VR_DESPESA_MAX_CAMPANHA'], color='green')
plt.xlabel('GASTOS CAMPANHA')
plt.ylabel('ANO ELEICAO')
plt.show()

**Top 10 dos partidos que mais gastam com campanhas**

In [ ]:
#Utilizando sql para contabilizar qual partidos mais gasta com campanhas
query = """SELECT SG_PARTIDO as sigla_partido,SUM(VR_DESPESA_MAX_CAMPANHA) total_gastos_eleicao
           FROM candidatos_goias
           GROUP BY SG_PARTIDO
           ORDER BY SUM(VR_DESPESA_MAX_CAMPANHA) DESC
           LIMIT 10
           """
ps.sqldf(query.lower(), locals())

**Gasto dos partidos em campanhas por genero**

`Gasto dos partidos em campanhas genero feminino`

In [ ]:
gasto_partido_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]

In [ ]:
plt.figure(figsize=(13,5))
sns.lineplot(x=gasto_partido_feminino['ANO_ELEICAO'],y=gasto_partido_feminino['VR_DESPESA_MAX_CAMPANHA'], color='pink')
plt.xlabel('Avg price')
plt.ylabel('years')
plt.show()

`Gasto dos partidos em campanhas genero Masculino`

In [ ]:
gasto_partido_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]

In [ ]:
plt.figure(figsize=(13,5))
sns.lineplot(x=gasto_partido_masculino['ANO_ELEICAO'],y=gasto_partido_masculino['VR_DESPESA_MAX_CAMPANHA'], color='blue')
plt.xlabel('Avg price')
plt.ylabel('years')
plt.show()

**Total geram gasto em campanhas mulhere X homens**

`Gastos geral em campanhas sexo feminino`

In [ ]:
gasto_partido_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]

In [ ]:
gasto_partido_feminino['VR_DESPESA_MAX_CAMPANHA'].sum()

Total gasto em campanhas do genero feminino é : <br>seiscentos e oitenta e quatro milhões e quinhentos e vinte mil quatrocentos e cinquenta e um reais </br>e oitenta e oito centavos

`Gastos geral em campanhas sexo masculino`

In [ ]:
gasto_partido_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]

In [ ]:
gasto_partido_masculino['VR_DESPESA_MAX_CAMPANHA'].sum()

Total gasto em campanhas do sexo masculino é: </br>
quatro bilhões e cento e oitenta e três milhões e seiscentos e cinquenta mil duzentos e </br>nove reais e vinte e oito centavos

`Diferença de gastos mulheres X homens `

In [ ]:
diferença = (12707294989.829998 - 4859899508.27)
diferença

Diferença de : Três bilhões e quatrocentos e noventa e nove milhões e cento e vinte </br> e nove mil setecentos e cinquenta e sete reais e quarenta centavos

**Comparando esses valores com os anos de 2004 em que teve mais mulheres e homens candidatos**

`Gasto com campanhas no ano de 2004 genero feminino`

In [ ]:
gasto_camapanha_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
gasto_camapanha_feminino = gasto_camapanha_feminino [gasto_camapanha_feminino ['ANO_ELEICAO'] == 2022]
gasto_camapanha_feminino['VR_DESPESA_MAX_CAMPANHA'].sum()

Gasto de camapanha do genero feminino 2004 é :Noventa e oito milhões e cento e noventa<br> e dois mil novecentos e sessenta e oito reais <br>e setenta e sete centavos

`Gasto com campanhas no ano de 2004 genero masculino`

In [ ]:
gasto_camapanha_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]
gasto_camapanha_masculino= gasto_camapanha_masculino[gasto_camapanha_masculino['ANO_ELEICAO'] == 2022]
gasto_camapanha_masculino['VR_DESPESA_MAX_CAMPANHA'].sum()

Gasto de camapanha do genero masculino 2004 é : Um bilhão e duzentos e oitenta <br> e seis milhões e seiscentos e vinte e três mil seiscentos <br> e vinte e quatro reais e sessenta e dois centavos

`Diferença de gastos mulheres X homens ano de 2004 `

In [ ]:
diferença = (1538350521.71 - 858564013.8300002)
diferença

Diferença de : Um bilhão e cento e oitenta e oito milhões e quatrocentos e trinta mil </br>seiscentos e cinquenta e cinco reais e oitenta e cinco centavos

**Qual ideologia mais frequente**

In [ ]:
fig = plt.figure(figsize=(10,5))
grafico = sns.countplot('ESPECTRO_PARTIDOS', order = candidatos_goias['ESPECTRO_PARTIDOS'].value_counts().index, palette="Paired",  data =  candidatos_goias)
plt.xticks(rotation=90)
for i in grafico.patches:
   grafico.annotate(i.get_height(),
                  (i.get_x() + i.get_width() / 2, i.get_height()),
                  ha='center',
                  va='baseline',
                  fontsize=12,
                  color='black',
                  xytext=(0, 1),
                  textcoords='offset points');  
plt.xlabel('espectro', fontsize=15)
plt.ylabel(' ')
plt.title('Grafico quantidade espectro partidos',fontsize=15);

**Qual ideologia mais ganhou eleições**

In [ ]:
espectro = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]

In [ ]:
#Utilizando sql para contabilizar qual ideologia mais ganhou eleições
query = """SELECT ESPECTRO_PARTIDOS, COUNT(ESPECTRO_PARTIDOS) 
           FROM espectro
           GROUP BY ESPECTRO_PARTIDOS
           """
ps.sqldf(query.lower(), locals())

**Qual ideologia tem mais mulheres x homens eleitos**

`Ideologia que foram mais mulheres eleitas`

In [ ]:
espectro = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
espectro_feminino = espectro[espectro['DS_GENERO'] == "FEMININO"]

In [ ]:
#Utilizando sql para contabilizar qual ideologia mais ganhou eleições
query = """SELECT DS_GENERO, ESPECTRO_PARTIDOS, COUNT(ESPECTRO_PARTIDOS) 
           FROM espectro_feminino
           GROUP BY ESPECTRO_PARTIDOS
           """
ps.sqldf(query.lower(), locals())

`Ideologia que foram mais homens eleitas`

In [ ]:
espectro = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
espectro_masculino = espectro[espectro['DS_GENERO'] == "MASCULINO"]

In [ ]:
#Utilizando sql para contabilizar qual ideologia mais ganhou eleições
query = """SELECT DS_GENERO, ESPECTRO_PARTIDOS, COUNT(ESPECTRO_PARTIDOS) 
           FROM espectro_masculino
           GROUP BY ESPECTRO_PARTIDOS
           """
ps.sqldf(query.lower(), locals())

**Quantas vezes mulheres x homens concorrerão a releicao**

In [ ]:
releito_feminino = candidatos_goias[candidatos_goias['DS_GENERO'] == "FEMININO"]
releito_masculino = candidatos_goias[candidatos_goias['DS_GENERO'] == "MASCULINO"]

In [ ]:
#Utilizando sql para contabilizar quantas vezes mulheres x homens concorrerão a releição
query = """SELECT DS_GENERO, ST_REELEICAO, COUNT(ST_REELEICAO) 
           FROM releito_feminino
           GROUP BY ST_REELEICAO, DS_GENERO
           """
ps.sqldf(query.lower(), locals())

In [ ]:
#Utilizando sql para contabilizar quantas vezes foi releito por genero
query = """SELECT DS_GENERO, ST_REELEICAO, COUNT(ST_REELEICAO) 
           FROM releito_masculino
           GROUP BY ST_REELEICAO, DS_GENERO
           """
ps.sqldf(query.lower(), locals())

**Porcentagem de releito muheres x homens**

In [ ]:
candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"].count()

`Porcentagem de mulheres releitas`

In [ ]:
#Porcentagem 
porc_releita = (48/6458) * 100
print('A porcentagem de mulheres releitas é: {:.2f}'.format(porc_releita))

`Porcentagem de homens reeleitos`

In [ ]:
#Porcentagem 
porc_releita = (368/6458) * 100
print('A porcentagem de homens releitas é: {:.2f}'.format(porc_releita))

# Analisando dados de candidatos e eleitos/releitos por raça

Já foram analisandos os dados sobre generos.</br>
Agora será analisado os dados de  eleitos e releitos por raça.

`Quantidade de inscritos por raça`

In [ ]:
candidatos_goias["DS_COR_RACA"].value_counts()

`Procentagem de inscritos por raça`

In [ ]:
candidatos_goias["DS_COR_RACA"].value_counts()/candidatos_goias["ANO_ELEICAO"].count()*100

`Quantidade de inscritos por raça ano eleição`

In [ ]:
#Utilizando sql para contabilizar inscritos ano eleção por raça
query = """SELECT ANO_ELEICAO, DS_COR_RACA, COUNT(DS_COR_RACA) as total_inscritos
           FROM candidatos_goias
           GROUP BY DS_COR_RACA, ANO_ELEICAO
           ORDER BY ANO_ELEICAO,DS_COR_RACA,COUNT(ANO_ELEICAO) DESC"""
ps.sqldf(query.lower(), locals())

`Quantidade de eleitos por raça `

In [ ]:
#Utilizando sql para contabilizar quantas vezes os candidatos foram eleitos por raça
query = """SELECT DS_COR_RACA, DS_SIT_TOT_TURNO, COUNT(DS_SIT_TOT_TURNO)  as quantidade_reeleicao
           FROM candidatos_goias
           where DS_SIT_TOT_TURNO like 'ELEITO%'
           GROUP BY DS_SIT_TOT_TURNO, DS_COR_RACA
           ORDER BY COUNT(DS_SIT_TOT_TURNO) DESC"""
ps.sqldf(query.lower(), locals())

`Quantidade de eleitos por raça e ano eleicão `

In [ ]:
#Utilizando sql para contabilizar quantidade de eleitos por raça e ano 
query = """SELECT ANO_ELEICAO, DS_COR_RACA, DS_SIT_TOT_TURNO, COUNT(DS_SIT_TOT_TURNO)  as quantidade_reeleicao
           FROM candidatos_goias
           where DS_SIT_TOT_TURNO like 'ELEITO%'
           GROUP BY DS_SIT_TOT_TURNO, DS_COR_RACA,ANO_ELEICAO
           ORDER BY ANO_ELEICAO,DS_COR_RACA,COUNT(DS_SIT_TOT_TURNO) DESC"""
ps.sqldf(query.lower(), locals())

`porcentagem de eleitos por raça `

In [ ]:
candidatos_eleitos = candidatos_goias[candidatos_goias['DS_SIT_TOT_TURNO'] == "ELEITO"]
candidatos_eleitos['DS_COR_RACA'].value_counts() / candidatos_eleitos['ANO_ELEICAO'].count() * 100

`Quantidade de releitos por raça `

In [ ]:
#Utilizando sql para contabilizar quantas vezes os candidatos foram reeleitos por raça
query = """SELECT DS_COR_RACA, ST_REELEICAO, COUNT(ST_REELEICAO)  as quantidade_reeleicao
           FROM candidatos_goias
           where ST_REELEICAO like '%S%'
           GROUP BY ST_REELEICAO, DS_COR_RACA
           ORDER BY COUNT(ST_REELEICAO) DESC"""
ps.sqldf(query.lower(), locals())

`Quantidade de reeleitos por raça e ano `

In [ ]:
#Utilizando sql para contabilizar quantas vezes os candidatos foram reeleitos por raça e ano 
query = """SELECT ANO_ELEICAO, DS_COR_RACA, ST_REELEICAO, COUNT(ST_REELEICAO)  as quantidade_reeleicao
           FROM candidatos_goias
           where ST_REELEICAO like '%S%'
           GROUP BY ST_REELEICAO, DS_COR_RACA, ANO_ELEICAO
           ORDER BY DS_COR_RACA,COUNT(ST_REELEICAO) DESC"""
ps.sqldf(query.lower(), locals())

`Porcentage de reeleitos por raça`

In [ ]:
candidatos_eleitos = candidatos_goias[candidatos_goias['ST_REELEICAO'] == "S"]
candidatos_eleitos['DS_COR_RACA'].value_counts() / candidatos_eleitos['ANO_ELEICAO'].count() * 100

`Genero dos candidatos por raça `

In [ ]:
#Utilizando sql para contabilizar quantidade de Genero candidatos por raça 
query = """SELECT DS_GENERO, DS_COR_RACA, COUNT(DS_COR_RACA)  as total_genero_raça
           FROM candidatos_goias
           GROUP BY DS_COR_RACA, DS_GENERO
           ORDER BY DS_COR_RACA,DS_GENERO, COUNT(DS_COR_RACA) DESC"""
ps.sqldf(query.lower(), locals())

In [ ]:
#Utilizando sql para contabilizar quantidade de Genero candidatos por raça e ano  
query = """SELECT ANO_ELEICAO, DS_GENERO, DS_COR_RACA, COUNT(DS_COR_RACA)  as total_genero_raça_ano
           FROM candidatos_goias
           GROUP BY DS_COR_RACA, DS_GENERO,ANO_ELEICAO
           ORDER BY DS_COR_RACA,DS_GENERO,COUNT(DS_COR_RACA) DESC"""
ps.sqldf(query.lower(), locals())

In [ ]:
candidatos_goias.head()

In [ ]:
candidatos_goias['DS_GRAU_INSTRUCAO'].unique()

In [135]:
candidatos_goias.to_csv("candidatos_goias_2010_2022_limpo.csv", sep=';', encoding='UTF-8')